<template>
  <div>
    <header>
      <h1><slot name="header"></slot></h1>
      <h2><slot name="sub-header"></slot></h2>
    </header>
    <slot></slot>
  </div>
</template>

<style scoped>
div {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  background: #f5f5f5;
  padding: 25px 107px 0px 107px;
  max-width: 970px;
}

header {
  margin: 2.4em 0 2.7em 0;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

header h1 {
  font-size: 48px;
  letter-spacing: 3px;
  color: #333;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

header h2 {
  font-style: italic;
  letter-spacing: 2px;
  font-size: 152%;
  font-weight: normal;
  margin: 0;
}

@media screen and (max-width: 958px) {
  header h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 700px) {
  div {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
  }
  header {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  header h1 {
    font-size: 20px;
  }
  header h2 {
    font-size: 120%;
  }
}
</style>
