<template>
  <title-documents title="GitHub Résumé"></title-documents>
  <base-wrapper>
    <template v-slot:header>
      MY GITHUB RÉSUMÉ
    </template>
    <template v-slot:default>
      <article role="main">
        <p>
          As a software startup owner I really enjoy when people send us their
          résumés and they include their github account so we can see tangible
          work they have done.
        </p>
        <p><br /></p>
        <p>
          After a
          <a href="https://twitter.com/#!/jeresig/status/33968704983138304"
            >tweet by John Resig</a
          >
          I imagined that it may be nice for people to be able to generate their
          <a href="https://github.com" title="GitHub">GitHub </a>résumés.
        </p>
        <p><br /><br /></p>
        <form @submit.prevent="generateInput">
          <p>
            <input
              id="username"
              type="text"
              v-model="$store.state.enteredUser"
              placeholder="Enter your Github username and click on generate"
              autofocus
            />
            <button>Generate</button>
          </p>
        </form>
        <p><br /><br /></p>
        <h2>See some popular users</h2>
        <ul>
          <li>
            <router-link to="/defunkt" title="Chris Wanstrath"
              >Chris Wanstrath</router-link
            >
          </li>
          <li>
            <router-link to="/mxcl" title="Max Howell">Max Howell</router-link>
          </li>
        </ul>
        <br />
        <br />
        <h2>Notes, Information and Future featues</h2>
        <p>
          <br />
          This is the first version. I am planning on adding things as such as
          your most committed forks, most committed repositories and make the
          "My Popular Repositories" be built from your complete list of
          repositories. Feel free to
          <a href="https://github.com/resume/resume.github.com"
            >fork the page</a
          >
          if you want to help :-)
          <br />
          <br />
        </p>
      </article>
      <footer role="content-info">
        <p>
          Brought to you by the brilliant mind of
          <a href="https://twitter.com/davidcoallier">@davidcoallier</a> —
          Résumé Template from
          <a
            href="http://thingsthatarebrown.com/blog/2009/05/sample-resume-template/"
            >Things that are Brown</a
          >
        </p>
      </footer>
    </template>
  </base-wrapper>
</template>

<script>
export default {
  methods: {
    generateInput() {
      this.$router.push(`/${this.$store.state.enteredUser}`);
    },
  },
};
</script>

<style scoped>
article {
  margin-bottom: 2em;
  text-align: left;
}

p {
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

a {
  color: #990003;
}

a:hover {
  text-decoration: none;
}

form p {
  font-size: 100%;
}

input {
  height: 44px;
  width: 75%;
  font-family: Georgia, Garamond, "Times New Roman", serif;
  border: 2px solid #444;
  border-radius: 4px;
  color: #444;
  font-size: 18px;
  padding: 5px;
}

button {
  cursor: pointer;
  margin-left: 10px;
  width: 20%;
  height: 44px;
  font-family: Georgia, Garamond, "Times New Roman", serif;
  font-size: 18px;
  color: #fff;
  background-image: linear-gradient(
    to left top,
    rgb(31, 31, 31) 21%,
    rgb(51, 51, 51) 61%
  );
  border: 1px solid #444;
  border-radius: 4px;
}

h2 {
  font-size: 152%;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
}

li {
  width: 80%;
  line-height: 24px;
  border-bottom: 1px solid #ccc;
  list-style: none;
  margin: 0px 85px 0px 14px;
}

footer {
  padding: 1em 0 5em 0;
  font-size: 92%;
  border-top: 1px solid #ccc;
  text-align: center;
  margin-bottom: 2em;
}

footer p {
  font-size: 100%;
}

@media screen and (max-width: 600px) {
  input {
    font-size: 12px;
    height: 37px;
  }
  button {
    font-size: 12px;
    height: 37px;
  }
  li {
    width: 80%;
    line-height: 24px;
    border-bottom: 1px solid #ccc;
    list-style: none;
    margin: 0px 45px 0px 0px;
  }
}
</style>
