<template>
  <base-wrapper>
    <template v-slot:header>
      USER NOT FOUND
    </template>
    <template v-slot:default>
      <p>
        The user you requested was not found. Please check your spelling and try
        again.
      </p>
      <footer></footer>
    </template>
  </base-wrapper>
</template>

<style scoped>
p {
  font-size: 100%;
  line-height: 18px;
  margin: 0;
  padding: 0;
  text-align: left;
  padding-bottom: 25px;
}

footer {
  border-top: 1px solid #ccc;
  padding-top: 70px;
}
</style>
