<template>
  <div>
    <h2>
      <a :href="`https://github.com/${login}/${name}`">{{ name }}</a>
    </h2>
    <h3>{{ language }} - Creator & Owner</h3>
    <h4>{{ firstYear }} - {{ lastYear }}</h4>

    <p>{{ description }}</p>
    <p>
      This repository has {{ stars }} stars and {{ forks }} forks. If you would
      like more information about this repository and my contributed code,
      please visit
      <a :href="`https://github.com/${login}/${name}`">the repo</a>
      on GitHub
    </p>
  </div>
</template>

<script>
export default {
  props: [
    "login",
    "name",
    "language",
    "firstYear",
    "lastYear",
    "description",
    "stars",
    "forks",
  ],
};
</script>

<style scoped>
div {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  position: relative;
}

div:last-child {
  border: none;
}

h2 {
  font-size: 135%;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: left;
}

h3 {
  font-size: 100%;
  font-weight: normal;
  text-align: left;
  margin: 0;
  padding: 0;
}

h4 {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: normal;
  font-size: 115%;
  margin: 0;
  padding: 0;
}

p {
  font-size: 115%;
  line-height: 18px;
  margin: 0.75em 0 3em 0;
  padding: 0;
  text-align: left;
}

a {
  color: #990003;
  border: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  h2 {
    font-size: 120%;
  }
  p {
    font-size: 120%;
  }
  h4 {
    font-size: 100%;
    top: 0;
  }
}

@media screen and (max-width: 400px) {
  article h2 {
    font-size: 100%;
  }
  article p {
    font-size: 100%;
  }
  h4 {
    font-size: 12px;
  }
}
</style>
