<template>
  <title-documents
    v-if="usersInfo.name"
    :title="`${usersInfo.name} Résumé`"
  ></title-documents>
  <title-documents v-else title="GitHub Résumé"></title-documents>
  <div v-if="showResume">
    <div class="actions">
      <a :href="`mailto:?subject=Resume for ${usersInfo.name}`">Email</a>
      <a href="#" @click="printResume">Print</a>
    </div>
    <base-wrapper v-if="showResume">
      <template v-slot:header>
        {{ usersInfo.name }}
      </template>
      <template v-slot:sub-header>
        PASSIONATE GITHUB USER
      </template>
      <template v-slot:default>
        <article>
          <div>
            <h2>GitHub Profile</h2>
            <span v-if="isLoading"
              >Loading information...<img src="../assets/loader.gif"
            /></span>
            <p v-else>
              On GitHub as an early adopter since {{ usersInfo.year }},
              {{ usersInfo.name }} is a developer {{ location }} with
              <a href="https://github.com/defunkt?tab=repositories"
                >{{ usersInfo.repos }} public repositories</a
              >
              and
              <a href="https://github.com/defunkt/followers"
                >{{ usersInfo.followers }} followers</a
              >.
            </p>
          </div>
          <div>
            <h2>Website</h2>
            <span v-if="isLoading"
              >Loading information...<img src="../assets/loader.gif"
            /></span>
            <a
              v-else
              :href="usersInfo.website"
              :title="`${usersInfo.name}'s website`"
              class="website"
              >{{ usersInfo.website }}</a
            >
          </div>
          <div>
            <h2>Languages</h2>
            <span v-if="isLoading"
              >Loading information...<img src="../assets/loader.gif"
            /></span>
            <ul v-else class="language">
              <li v-for="lang in orderLangPercantage" :key="lang">
                <a
                  :href="
                    `https://github.com/search?q=user%3A${usersInfo.login}&l=${lang[0]}`
                  "
                  >{{ lang[0] }}</a
                >
                ({{ lang[1] }}%)
              </li>
            </ul>
          </div>
          <div>
            <h2>Popular Repositories</h2>
            <span v-if="isLoading"
              >Loading information...<img src="../assets/loader.gif"
            /></span>
            <ul v-else>
              <repo-item
                v-for="repo in popularRepos"
                :key="repo.name"
                :login="usersInfo.login"
                :name="repo.name"
                :language="repo.language"
                :firstYear="repo.firstYear"
                :lastYear="repo.lastYear"
                :description="repo.description"
                :stars="repo.stars"
                :forks="repo.forks"
              >
              </repo-item>
            </ul>
          </div>
        </article>
      </template>
    </base-wrapper>
  </div>
  <not-found v-else></not-found>
</template>

<script>
import RepoItem from "./RepoItem.vue";
import NotFound from "./NotFound.vue";

export default {
  components: {
    RepoItem,
    NotFound,
  },
  data() {
    return {
      usersInfo: {},
      langPercantage: {},
      popularRepos: ["Loading..."],
      isLoading: false,
    };
  },
  computed: {
    location() {
      if (this.usersInfo.location) {
        return `based in ${this.usersInfo.location}`;
      } else {
        return null;
      }
    },
    orderLangPercantage() {
      let entries = Object.entries(this.langPercantage);
      let sorted = entries.sort((a, b) => b[1] - a[1]);
      return sorted;
    },
    showResume() {
      return this.popularRepos.length > 0;
    },
  },
  methods: {
    printResume() {
      print();
    },
  },
  created() {
    const userName = this.$route.params.userName;
    this.$store.state.enteredUser = userName;

    this.isLoading = true;

    fetch(`https://api.github.com/users/${this.$store.state.enteredUser}`, {
      headers: {
        Authorization: "token  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",
      },
    })
      .then((response) => {
        if (response.ok) {
          return response.json();
        }
      })
      .then((data) => {
        this.isLoading = false;
        // Users Profile
        console.log(data);
        this.usersInfo.login = data.login;
        this.usersInfo.year = data["created_at"].substr(0, 4);
        this.usersInfo.name = data.name;
        this.usersInfo.location = data.location;
        this.usersInfo.repos = data.public_repos;
        this.usersInfo.followers = data.followers;
        this.usersInfo.website = data.blog;
      })
      .catch((error) => {
        console.log(error);
      });

    fetch(
      `https://api.github.com/users/${this.$store.state.enteredUser}/repos`,
      {
        headers: {
          Authorization: "token  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",
        },
      }
    )
      .then((response) => {
        if (response.ok) {
          return response.json();
        }
      })
      .then((data) => {
        this.isLoading = false;
        console.log(data);
        const reposLangCount = {}; //Languages
        const repos = []; // repos

        //Loop through repos and languages
        for (let i in data) {
          const lang = data[i]["language"];
          const repo = {};

          repo.name = data[i]["name"];
          repo.language = lang;
          repo.firstYear = data[i]["created_at"].substr(0, 4);
          repo.lastYear = data[i]["updated_at"].substr(0, 4);
          repo.description = data[i]["description"];
          repo.stars = data[i]["stargazers_count"];
          repo.forks = data[i]["forks_count"];

          repos.push(repo);

          if (lang !== null && reposLangCount[lang] === undefined) {
            reposLangCount[lang] = 1;
          } else if (lang !== null && reposLangCount[lang]) {
            reposLangCount[lang]++;
          }
        }

        // Repos
        repos.sort((c1, c2) => c2.stars - c1.stars);
        const Bestrepos = repos.slice(0, 5);
        this.popularRepos = Bestrepos;
        console.log(this.popularRepos);
        // End of repos

        //Languages
        console.log(reposLangCount);

        let total = 0;

        for (let i = 0; i < Object.values(reposLangCount).length; i++) {
          const langValue = Object.values(reposLangCount)[i];
          total += langValue;
        }

        for (let i = 0; i < Object.keys(reposLangCount).length; i++) {
          const langKey = Object.keys(reposLangCount)[i];

          const percantage = () => {
            return (reposLangCount[langKey] / total) * 100;
          };

          this.langPercantage[langKey] = Math.round(percantage());
        }
        console.log(this.langPercantage);
        // End of languages
      });
  },
};
</script>

<style scoped>
div.actions {
  position: absolute;
  right: 180px;
  top: 40px;
}

div.actions a {
  color: #ccc;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 0 5px #000;
  margin-left: 1em;
}

article {
  margin-bottom: 2em;
  width: 100%;
  position: static;
}

article > div {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #ccc;
  display: flex;
}

article h2 {
  font-style: italic;
  font-size: 140%;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: left;
}

article p {
  font-size: 120%;
  line-height: 24px;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-left: 67px;
}

a {
  color: #990003;
}

a:hover {
  text-decoration: none;
}

a.website {
  margin-left: 70px;
}

ul {
  margin: 0;
  margin-left: 35px;
  padding: 0;
}

ul.language {
  margin: 0;
  padding-left: 45px;
  list-style: none;
  columns: 3;
}

ul.language li {
  line-height: 24px;
  border-bottom: 1px solid #ccc;
  margin-right: 70px;
  text-align: left;
}

@media screen and (max-width: 800px) {
  div.actions {
    right: 10px;
    top: 10px;
  }
  article h2 {
    font-size: 120%;
  }
  article p {
    font-size: 120%;
  }
  ul.language {
    columns: 2;
  }
  ul.language li {
    margin-right: 20px;
  }
}

@media screen and (max-width: 400px) {
  article h2 {
    font-size: 100%;
  }
  article p {
    font-size: 100%;
  }
  ul.language {
    columns: 1;
  }
  a.website {
    margin-left: 58px;
  }
}
</style>
