<template>
  <main>
    <router-view></router-view>
  </main>
</template>

<style>
* {
  box-sizing: border-box;
}

html {
  height: 100% !important;
  background: url("./assets/low_contrast_linen.png");
  color: #000;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #444;
  text-align: center;
  margin: 0;
  padding: 0;
}
</style>
